.login-pf body {
  background: url('../img/logo.png') no-repeat scroll left 2vh black;
  background-attachment: fixed;
  background-size: 300px 80px;
}

.login-pf-page .card-pf {
  background-color: #6b0c37;
  margin-top: 20vh;
}

.login-pf-header {
  color: white;
}

/*title banner size and colour*/
div#kc-header-wrapper {
  background-color: transparent;
}

/* label change Username, Password text*/
div#kc-form label {
  color: white !important;
}

/*fields*/
.login-pf-page input[type='text'],
.login-pf-page input[type='password'] {
  color: #ddd;
}

/*button*/
.login-pf-page input[type='submit'] {
  background-color: #9575cd;
  background-image: none;
  border-color: #d1c4e9;
}
div#kc-header {
  display: none;
}
div#kc-locale {
  font-size: larger;
}
a {
  color: #d1c4e9;
}
